.homepage-outer{
     display: grid;
  grid-template-columns : 4.5rem auto;
  grid-template-rows: 4rem auto;
  grid-template-areas:
  'sidebar categories'
  'sidebar main' 
  ;
  text-align: center;
}

.header{
  grid-area: header;
}

.sidebar{
  grid-area: sidebar;
}
.categories{
  grid-area: categories;
  border-top: 2px solid var(--border-color);
}
.main{
  grid-area: main;
  background-color: var(--main-bg-color);

}