body{
        --primary-color :  #DC2626;
}
.library-section{
    /* margin: 1rem; */
    border-top: 1px solid var(--primary-color);
    border-bottom : 1px solid var(--primary-color);
    padding-left: 1rem;
}

.heading-intro{
    font-weight: lighter;
    text-align: left;
}


.playlists{
    border-top: none;
}
