.header-container{
    border: 1px solid red;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.header-start{
    
    display: flex;
    align-items: left;
    margin-left: .5rem;
    margin-top: .4rem;
    max-width: 12rem;
}

.menu-icon{
   width: 2rem;
   height: 2rem;
 
}

.logo-span{

}


/* center of header */

.header-center{
    display: flex;
    height: 3rem;
    position: relative;
    left : 2rem;

}

.search-box{
    outline: none;
    border: 1px solid #9CA3AF;
    border-right: none;
    height: 1.85rem;
    width: 20rem;
    position: relative;
    top : .3rem;
    border-radius: .1rem;
}

.search-button{
    border: 1px solid #9CA3AF;
    background-color: #E5E7EB ;
    height: 2.1rem;
    width: 4rem;
    position: relative;
    top : .3rem;
}
.search-button > ion-icon{
    font-size: 19px;
    --ionicon-stroke-width: 18px;

}
.mic-button{
    cursor: pointer;
    margin-left: .2rem;
    outline: none;
    border: none;
    height: 1.5rem;
    background-color: transparent;
    position: relative;
    top: .6rem;
}

.mic-button > ion-icon{
    --ionicon-stroke-width: 26px;
    font-size: 20px;
}



/* end of header */
.header-end{
    border: 1px solid green;
    width: 10rem;
}