.modale {
  border: 2.5px solid var(--primary-color);
  padding: 0.5rem;
  position: fixed;
  bottom: 2rem;
  right: 0;
  margin-right: 1rem;
  transform: translate(50rem);
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.active {
  transform: translate(0);
}
