body {
  --hover-bg-color: #e5e7eb;
  margin: 0px;
  padding: 0px;
  --primary-color: #dc2626;
}
.sidebar {
  border: 3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.adjustment > ion-icon {
  font-size: 25px;
  --ionicon-stroke-width: 25px;
}
.adjustment {
  position: relative;
  top: 0.7rem;
  font-size: 25px;
}
.side-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 4rem;
}

.icon-text {
  font-size: small;
}
.sidebar-link {
  text-decoration: none;
  color: black;
}
.sidebar-link:hover {
  background-color: var(--hover-bg-color);
}

.sidebar-icon-selected {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
.sidebar-icon-selected:hover {
  background-color: var(--primary-color);
}
