body{
    --hover-bg-color : #E5E7EB ;
}
.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.adjustment >ion-icon{
    font-size: 25px;
    --ionicon-stroke-width: 25px;
}
.adjustment{
    position: relative;
    top : .7rem ;
     font-size: 25px;
}
.side-icon{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 4rem;

}

.side-icon:hover{
    background-color: var(--hover-bg-color);
}

.icon-text{
    font-size: small;
}
.sidebar-link{
    text-decoration: none;
    color: black;
}