body {
  --border-color: #e5e7eb;
  --main-bg-color: #f3f4f6;
}
.main-outer-div {
  display: grid;
  grid-template-columns: 4.5rem auto;
  grid-template-rows: 3.3rem 4rem auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar main";
  text-align: center;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}
.categories {
  grid-area: categories;

  border-top: 2px solid var(--border-color);
}
.main {
  grid-area: main;
}
